{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<div class="flexitem">
    <h1 class="h1-index-greet">Look up a location's current temperature</h1>
</div>
<div class="flexitem">
    <form action="" class="form" novalidate method="post">
        {{ form.csrf_token }} {{ wtf.form_field(form.location, class='textbox', label="LA") }}
        <hr>
        <p>Additional Parameters</p>
        <ul class="items-list settings">
            <li>{{ wtf.form_field(form.pressure, class="form-check-input")}}</li>
            <li>{{ wtf.form_field(form.humidity, class="form-check-input")}}</li>
        </ul>
        <input type=submit class="button" aria-label="Search" value="Query">
    </form>
</div>
{% endblock %}